<div class="banner position-relative">


    <div class="position-absolute top-50 start-50 translate-middle">
      <div class='text-on-home'>
        <h1>Travelling in Europe for the weekend ?</h1>
        <p>We've got the best hotel room prices aroud ...</p>
        <%= link_to 'checkout our rooms !', rooms_path, class: 'btn btn-light' %>
      </div>
    </div>

</div>
