.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-weight: 800;
}

.connect {
  text-decoration: none;
  color: gray;
  font-size: 14pt;
  font-weight: 100;
  &:hover {
    color: black;
  }
}
